{% extends 'base.html.twig' %}
{% block title %}Home Page{% endblock %}
 {% block body %}

     <h1>Admin Homepage</h1>
     <p>
         {{ description.description | raw }}
     </p>
     <a href="{{ path('app.description.edit', { id: description.id }) }}"> Éditer</a>
     {% for team in team  %}
         <p>
             {{ team.description }}
         </p>
     {% endfor %}

 {% endblock %}